.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  font-family: "Nunito Sans";
  color: #253858;
}

.topBar {
  padding: 1em;
  margin: 0.5em;
}

.activeChatComponent .friendsContainer {
  font-family: "Nunito Sans"
}



.messageDisplay {

  border-radius: 10px;
  /* padding: 0.35em 0.35em 0.35em 0;
  margin: 0.35em; */
  /* font: 14px "Lato"; */
  line-height: 1.5em;
  color: white;
  font-family: "Nunito Sans";;

}

 .activeChatWindowContainer {
  border-radius: 3px;
  /* float: inherit; */
  /* box-shadow: 0 14px 14px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10); */
  font-family: "Nunito Sans";


}



.messageHistory {
  max-height: 300px;
  overflow: auto;
  font-family: "Nunito Sans";
  margin: 0.75em;
  font-size: 13.5px;
  padding: 0.75em
}

.navbar {
  background: linear-gradient(#0052CC, #549eff);
  color: white;
}

.chat {

  font: "Nunito Sans";
  margin: 0.25em;
  padding: 0.25em;

}


.chatList {
  font-family: "Nunito Sans";
}

.chatList {
  font-size: 14px;

}

.newChatForm {
  margin: 1em 0.5em 1em 0em;
  padding: 0.5em;
  border: 1px solid black;
  font-family: "Avenir";
  font-size: 75%;
  min-height: 300px;
}

.newChatForm h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans"
}
