.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  font-family: "Avenir";
  color: #33475b;
  background-color: #FCFDFD;
}

.topBar {
  padding: 0;
}

.activeChatComponent .friendsContainer {
  font-family: "Avenir"
}

.chatsContainer {

  alignment: left;
}



.messageDisplay {

  border-radius: 10px;
  /* padding: 0.35em 0.35em 0.35em 0;
  margin: 0.35em; */
  /* font: 14px "Lato"; */
  line-height: 1.5em;
  color: white;
  font-family: "Avenir";;

}

 .activeChatWindowContainer {
  border-radius: 3px;
  /* float: inherit; */
  /* box-shadow: 0 14px 14px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10); */
  font-family: "Avenir";
  font-size: 15px;


}



.messageHistory {
  min-height: 50px;
  max-height: 330px;
  overflow: auto;
  font-family: "Avenir";
  margin: 0.25em;
  font-size: 14px;
  padding: 0.25em;
  width: 100%;
}

.navbar {
  background: linear-gradient(to bottom, #2C3A51, #536E97);
  color: white;
}

.logoPeriod {
  color: #33CBC6;
}

.chat {

  font: "Avenir";

  alignment: 'left';

}


.chatList {
  font-family: "Avenir";

}

.chatList {
  font-size: 14px;
  alignment: left;
  width: 100%

}

.newChatForm {
  margin: 1em 0.5em 1em 0em;
  padding: 0.5em;
  border: 1px solid black;
  font-family: "Avenir";
  font-size: 75%;
  min-height: 300px;
}

.newChatForm h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir"
}

.nonFriendHeader {
  margin: 0.5em;
  padding: 0.5em;
  weight: 650;
}

.nonFriendList {
  align: left;
}

div.nonFriend {
  padding: 1em;
  margin: 1em;
  width: 250px;
  float: left;
  background-color: white;
  border-radius: 4px;
  text-align: left;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}

img.nonFriend {
  margin: 0.25em 1.25em 0.25em 0.25em;
  width:45px;
  border-radius: 8px;
  display: inline-block;
}

span.nonFriend {
  display: inline;
  vertical-align: top;
  font-color: #33475b;
}

span.nonFriendName {

  display: inline-block;
}

.nonFriendContainer, .nonFriendHeader, .nonFriendList {
  background-color: linear-gradient(-225deg, #EBEFF3, #E8EEF4);
}

button.addNewFriend {
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.5em;
  font-size: 13px;
  font-weight: 550;
  background: linear-gradient( #b3e7ed91, #b3e7ed66);
  color: #33CBC6;
  font-family: "Avenir";
  border-radius: 6px;
  border-style: none;
  box-shadow: 0 4px 4px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.2);
}
