.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}




.userPage {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 25% 75%;
  grid-template-areas:
    "header  header  header"
    "sidebar content content"
    "footer  footer  footer";
  background-color: #fff;
  color: #444;
}

.chatsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.messageHistory {
  text-align: left;
  border-radius: 3px;
  float: inherit;
  display: flex;
  justify-content: right;
  flex-direction: column;
  height: 220px;
  margin: 0.25rem;
  position: align;
  overflow: scroll;
  flex-grow: right;
  padding: 0.25em;
  border: 2px #3C457D;
}

.messageDisplay {
  border: solid 1px;
  border-radius: 10px;
  padding: 0.35em;
  margin: 0.35em;
  font: 14px "open sans";
  background: #536ADE;
  color: white;

}

.activeChatWindowContainer {
  border-radius: 3px;
  float: inherit;
  box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  height: auto;
}

.newMessageForm {
  padding: 0.5rem;
  border: 3px #3C457D;
}

.nothing-to-display {

}

.chat {
  border: 3px #403F63 solid;
  box-shadow: 0 2px 2px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.12);
  font-family: "Overpass";
  border-radius: 4px;
  max-width: 250px;
  flex-direction:right;
}

/*
.chatList {
  border-radius: 1px;
  display: flex;
  align-items: right;
  float:right;
  flex-direction: column-reverse;
  justify-content: right;
  max-height: 100px;
  min-height: 50px;
  max-width: 100px;
  margin: 0.25rem;
  width: 150px;
  padding: 0.5em;
}

.chatList {
  border: groove;
  display:flex;
  flex-direction: column;
  width: 25%;
  float: right;
  background-color: white;
  height: 75px;
  margin: 12px;
  padding: 12px;
}

.friendItem {
  border: solid 1px;
border-radius: 1px;
display: flex;
align-items: left;
justify-content: left;
flex-direction: column;
max-height: 100px;
min-height: 50px;
max-width: 100px;
margin: 0.25rem;
position: align;
width: 150px;
padding: 0.5em;
}

.activeChatWindowContainer {
  display: flex;
  align: right;
  padding: 12px;
  width: 50%;
  min-height: 200px;
}

.messageHistory {
  border-radius: 3px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  max-height: 220px;
  margin: 0.25rem;
  position: align;
  width: inherit;
  overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans"
}

 .friendContainer {
  display:flex;
  flex-direction: column;
  width: 20%;
  float: left;
  margin: 0.25em;
  padding: 0.25em;
}



.messageHistory {

  min-margin: 0.5rem;

  width: 200px;
  box-shadow: 0 14px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 0.5em;
  overflow: scroll;
  font-family: "Source Sans Pro";
  font-size: 14px;

}

.chat {

} */
